---
import { getEntries, getEntry } from 'astro:content'
import SinglePage from '@blog/layouts/SinglePage.astro'
import ArticleCard from '@root/src/components/ArticleCard.astro'
import { getBlogData } from '@root/src/utils'
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const blogEntries = await getBlogData()
    return blogEntries.map((entry, index) => {
        let preBlog = blogEntries[index - 1]
        let nextBlog = blogEntries[index + 1]
        return {
            params: { slug: entry.slug },
            props: { entry, preBlog, nextBlog },
        }
    })
}
// 2. For your template, you can get the entry directly from the prop
const { entry, preBlog, nextBlog } = Astro.props
const { Content } = await entry.render()

let author
if (entry.data.author) {
    author = (await getEntry(entry.data.author)) as any
}

let relatedPosts
if (entry.data.relatedPosts) {
    relatedPosts = await getEntries(entry.data.relatedPosts)
}
---

<SinglePage>
    <figure
        class="relative block h-[450px] max-md:h-[250px] mb-3 rounded-lg overflow-hidden"
    >
        <img
            class="block w-full h-full object-cover brightness-75 bg-gray-200 max-lg:!object-center"
            src={entry.data.heroImage || '/bg.png'}
            style={`object-position: ${entry.data?.heroPosition ?? 'center'};`}
            alt={entry.data.title}
        />
        <div
            style="background: url(/mask.png);position:absolute;width:100%;height:100%;top: 0;"
        >
        </div>
        <figcaption
            class="absolute top-[50%] left-[50%] w-full -translate-x-[50%] -translate-y-[50%] text-white text-center px-6 py-2"
        >
            <div class="line-clamp-2 text-3xl drop-shadow-lg">
                {entry.data.title}
            </div>
            <div
                class="inline-grid mx-auto md:grid-flow-col max-lg:grid-cols-1 auto-cols-auto text-md gap-x-6 mt-1"
            >
                <p>作者: {author?.data.name}</p>
                {
                    entry?.data.category && (
                        <p>
                            <a
                                class="hover:text-red-400 cursor-pointer"
                                href={`/category`}
                            >
                                分类
                            </a>
                            :{' '}
                            <a
                                class="hover:text-red-400 cursor-pointer"
                                href={`/category/${entry?.data.category}`}
                            >
                                {entry?.data.category}
                            </a>
                        </p>
                    )
                }
            </div>
            <div>
                {
                    entry &&
                        entry.data &&
                        entry.data.tags &&
                        entry.data.tags.length && (
                            <div class="inline-grid mx-auto grid-flow-col auto-cols-auto gap-x-2 mt-1">
                                {entry.data.tags.map((tag: string) => {
                                    return (
                                        <a
                                            href={`/tags/${tag}`}
                                            class="bg-red-400 hover:-translate-y-1 transition-transform px-2 py-1 rounded-lg text-xs"
                                        >
                                            # {tag}
                                        </a>
                                    )
                                })}
                            </div>
                        )
                }
            </div>
        </figcaption>
    </figure>
    {
        entry.data.description && (
            <div class="mb-3 max-w-[980px] mx-auto text-gray-400 line-clamp-3 text-sm drop-shadow-md text-center md:text-left">
                描述：{entry.data.description}
            </div>
        )
    }
    <div
        class="mb-3 max-w-[980px] mx-auto text-gray-400 text-sm text-center md:text-left"
    >
        <div
            class="inline-grid md:grid-flow-col max-lg:grid-cols-1 auto-cols-auto gap-x-6"
        >
            {
                entry.data.pubDate && (
                    <p>
                        创建于:
                        {new Date(entry.data.pubDate).toLocaleDateString(
                            'zh-cn',
                            {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric',
                                hour: 'numeric',
                                minute: 'numeric',
                                second: 'numeric',
                            },
                        )}
                    </p>
                )
            }
            {
                entry.data.updatedDate && (
                    <p>
                        修改于:
                        {new Date(entry.data.updatedDate).toLocaleDateString(
                            'zh-cn',
                            {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric',
                                hour: 'numeric',
                                minute: 'numeric',
                                second: 'numeric',
                            },
                        )}
                    </p>
                )
            }
        </div>
    </div>
    <div
        class="p-3 lg:p-6 bg-white rounded-lg max-w-[980px] mx-auto mb-8 shadow-sm"
    >
        <article
            class="markdown-body green"
            class:list={entry.data.chinese && 'chinese'}
        >
            <Content />
            <!-- {
                relatedPosts && relatedPosts.length &&
                    relatedPosts.map((p) => <a href={p.slug}>{p.data.title}</a>)
            } -->
        </article>
    </div>
    <div class="max-w-[980px] mx-auto">
        {
            relatedPosts && relatedPosts.length && (
                <h2 class="text-2xl my-8">可能喜欢:</h2>
            )
        }
        {
            relatedPosts && relatedPosts.length && (
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 auto-cols-auto gap-x-3 gap-y-4 mt-6 mb-6">
                    {relatedPosts &&
                        relatedPosts.length &&
                        relatedPosts
                            .slice(0, 6)
                            .map((blogPostEntry) => (
                                <ArticleCard
                                    articleData={blogPostEntry}
                                    href={`/posts/${blogPostEntry.slug}`}
                                />
                            ))}
                </div>
            )
        }
    </div>
</SinglePage>
