---
import { getCollection } from 'astro:content'
import { BlogCollectionName } from '@blog/config'
import ArticleCard from '@blog/components/ArticleCard.astro'
import SinglePage from '@blog/layouts/SinglePage.astro'
const blogEntries = await getCollection(BlogCollectionName)
---

<SinglePage>
    <div class="mb-8 text-3xl">技术文章</div>
    {
        !!blogEntries.length && (
            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 auto-cols-auto gap-x-3 gap-y-4">
                {blogEntries.map((blogPostEntry) => (
                    <ArticleCard
                        articleData={blogPostEntry}
                        href={`/posts/${blogPostEntry.slug}`}
                        title={blogPostEntry.data.title}
                        bg={blogPostEntry.data.heroImage}
                        desc={blogPostEntry.data.describtion}
                        author={blogPostEntry.data.author}
                    />
                ))}
            </div>
        )
    }
    {
        !blogEntries.length && (
            <div class="text-center text-gray-400 text-2xl pt-5">
                空空如也~~
            </div>
        )
    }
</SinglePage>
