---
// https://iconify.design/docs/usage/svg/astro/
import ArticleCard from '@blog/components/ArticleCard.astro'
import SinglePage from '@blog/layouts/SinglePage.astro'
import { getBlogDataSortByTime, getLifeData, getBlogTop } from '@blog/utils'
import { getEntry } from 'astro:content'

const blogList = await getBlogDataSortByTime()
const lifeList = await getLifeData()
const blogTopList = await getBlogTop()
---

<SinglePage>
    <div class="swiper mySwiper h-[450px] max-sm:h-[250px]">
        <div class="swiper-wrapper">
            {
                blogTopList &&
                    blogTopList.length &&
                    blogTopList.map(async (blogTop) => (
                        <div class="swiper-slide h-[450px] max-sm:h-[250px]">
                            <a href={`/posts/${blogTop.slug}`}>
                                <figure class="relative block h-full rounded-lg overflow-hidden">
                                    <img
                                        class="block brightness-75 w-full h-full object-cover max-sm:!object-center"
                                        src={blogTop.data.heroImage}
                                        style={`object-position: ${
                                            blogTop.data?.heroPosition ??
                                            'center'
                                        };`}
                                        alt=""
                                    />
                                    <figcaption class="absolute top-[50%] left-[50%] w-full -translate-x-[50%] -translate-y-[50%] text-white text-center px-6 py-2">
                                        <div class="truncate w-full text-3xl drop-shadow-lg">
                                            {blogTop.data.title}
                                        </div>
                                        {blogTop.data.author && (
                                            <div class="inline-grid mx-auto md:grid-flow-col max-lg:grid-cols-1 auto-cols-auto text-md gap-x-6 mt-1">
                                                <p>
                                                    作者:{' '}
                                                    {
                                                        (
                                                            await getEntry(
                                                                blogTop.data
                                                                    .author
                                                                    .collection,
                                                                blogTop.data
                                                                    .author.id,
                                                            )
                                                        )?.data.name
                                                    }
                                                </p>
                                            </div>
                                        )}
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    ))
            }
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="my-6">
        <div class="flex items-center">
            <a
                href="/posts"
                class="text-2xl relative group hover:text-red-400 transition-all"
            >
                <span
                    class="absolute right-full mr-[6px] opacity-0 group-hover:opacity-100 transition-opacity cursor-pointer"
                    >#</span
                >
                 技术
            </a>
        </div>
        <div
            class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 auto-cols-auto gap-x-3 gap-y-4 mt-6"
        >
            {
                blogList.length &&
                    blogList
                        .slice(0, 6)
                        .map((blogPostEntry) => (
                            <ArticleCard
                                articleData={blogPostEntry}
                                href={`/posts/${blogPostEntry.slug}`}
                            />
                        ))
            }
        </div>
    </div>
    <div class="my-6">
        <div class="flex items-center">
            <a
                href="/life"
                class="text-2xl relative group hover:text-red-400 transition-all"
            >
                <span
                    class="absolute right-full mr-[6px] opacity-0 group-hover:opacity-100 transition-opacity cursor-pointer"
                    >#</span
                >
                 生活
            </a>
        </div>
        <div
            class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 auto-cols-auto gap-x-3 gap-y-4 mt-6"
        >
            {
                lifeList.length &&
                    lifeList
                        .slice(0, 6)
                        .map((blogPostEntry) => (
                            <ArticleCard
                                articleData={blogPostEntry}
                                href={`/life/${blogPostEntry.slug}`}
                            />
                        ))
            }
        </div>
    </div>
</SinglePage>
