---
// https://iconify.design/docs/usage/svg/astro/
import ArticleCard from '@blog/components/ArticleCard.astro'
import SinglePage from '@blog/layouts/SinglePage.astro'
import { getBlogData, getLifeData, getBlogTop } from '@blog/utils'

const blogList = await getBlogData()
const lifeList = await getLifeData()
const blogTop = await getBlogTop()
---

<SinglePage>
    {
        blogTop && (
            <a href={`/posts/${blogTop.slug}`}>
                <figure class="relative block h-[450px] max-sm:h-[250px] rounded-lg overflow-hidden">
                    <img
                        class="block w-full h-full object-cover max-sm:!object-center"
                        src={blogTop.data.heroImage}
                        style={`object-position: ${
                            blogTop.data?.heroPosition ?? 'center'
                        };`}
                        alt=""
                    />
                    <figcaption class="absolute  bottom-0 text-white text-center px-6 w-full py-2 text-2xl bg-black/[.3] backdrop-blur-sm">
                        <div class="truncate">{blogTop.data.title}</div>
                    </figcaption>
                </figure>
            </a>
        )
    }

    <div class="my-6">
        <div class="flex items-center">
            <a
                href="/posts"
                class="text-2xl relative group hover:text-red-400 transition-all"
            >
                <span
                    class="absolute right-full mr-[6px] opacity-0 group-hover:opacity-100 transition-opacity cursor-pointer"
                    >#</span
                >
                技术
            </a>
        </div>
        <div
            class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 auto-cols-auto gap-x-3 gap-y-4 mt-6"
        >
            {
                blogList.length &&
                    blogList
                        .slice(0, 6)
                        .map((blogPostEntry) => (
                            <ArticleCard
                                articleData={blogPostEntry}
                                href={`/posts/${blogPostEntry.slug}`}
                                bg={blogPostEntry.data.heroImage}
                                title={blogPostEntry.data.title}
                                desc={blogPostEntry.data.describtion}
                                author={blogPostEntry.data.author}
                            />
                        ))
            }
        </div>
    </div>
    <div class="my-6">
        <div class="flex items-center">
            <a
                href="/life"
                class="text-2xl relative group hover:text-red-400 transition-all"
            >
                <span
                    class="absolute right-full mr-[6px] opacity-0 group-hover:opacity-100 transition-opacity cursor-pointer"
                    >#</span
                >
                生活
            </a>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 auto-cols-auto gap-x-3 gap-y-4 mt-6">
            {
                lifeList.length &&
                    lifeList
                        .slice(0, 6)
                        .map((blogPostEntry) => (
                            <ArticleCard
                                articleData={blogPostEntry}
                                href={`/life/${blogPostEntry.slug}`}
                                bg={blogPostEntry.data.heroImage}
                                title={blogPostEntry.data.title}
                                desc={blogPostEntry.data.describtion}
                                author={blogPostEntry.data.author}
                            />
                        ))
            }
        </div>
    </div>
</SinglePage>
