---
import SinglePage from '@blog/layouts/SinglePage.astro'

const entry = Astro.props
---

<SinglePage
    title={entry.frontmatter.title}
    description={entry.frontmatter.description}
    image={entry.frontmatter.heroImage}
>
    <figure
        class="article-image relative block h-[450px] max-md:h-[250px] mb-6 rounded-lg overflow-hidden"
    >
        <img
            class="block w-full h-full object-cover brightness-75 bg-gray-200 max-lg:!object-center"
            src={entry.frontmatter.heroImage || '/bg.png'}
            style={`object-position: ${
                entry.frontmatter?.heroPosition ?? 'center'
            };`}
            alt={entry.frontmatter.title}
        />
        <div
            style="background: url(/mask.png);position:absolute;width:100%;height:100%;top: 0;"
        >
        </div>
        <figcaption
            class="absolute top-[50%] left-[50%] w-full -translate-x-[50%] -translate-y-[50%] text-white text-center px-6 py-2"
        >
            <div class="line-clamp-2 text-3xl drop-shadow-lg">
                {entry.frontmatter.title}
            </div>
        </figcaption>
    </figure>
    <div
        class="p-3 lg:p-6 bg-white rounded-lg max-w-[980px] mx-auto mb-8 shadow-sm"
    >
        <article class="markdown-body green">
            <slot />
        </article>
    </div>
</SinglePage>
